build/
release/
version.h
.DS_Store
*.o
libpthreadGC2.a
krad_opus_ebml
*.krado*
*~
krad_gui_test
krad_v4l2_test
krad_vpx_test
krad_v4l2_vpx_test

krad_v4l2_vpx_ebml_test
krad_ebml_creator_cmd

krad_ebml_video_sdl_overlay
krad_sdl_opengl_display_test
krad_ebml_video_sdl_opengl
krad_ebml_video_sdl_opengl_hud
krad_v4l2_vpx_display_test
krad_flac_test
krad_flac_ebml_test
krad_dirac_test
krad_dirac_display_test
krad_gui_gtk_test
krad_sdl_opengl_display_gui_test
krad_sdl_opengl_display_signal_generator
krad_vsync_test
krad_jitter_test
krad_sdl_overlay_display_test
krad_vsync_test_overlay
waf
.waf*
.lock*
*.webm*
*.mkv*
tools/krad_decklink/krad_decklink_capture.a
krad_ebml_header_test
tools/krad_web/res/krad_radio.html.h
tools/krad_web/res/krad_radio.js.h
lib/krad_web/res/krad_radio.html.h
lib/krad_web/res/krad_radio.js.h
krad_apps/krad_radio
krad_apps/krad_radio_cmd
krad_apps/krad_radio_gtk
debian/kradradio*
tests/krad_cpu_local_test_x11
tests/krad_cpu_local_test_wayland
tests/krad_wayland_test
tests/krad_wayland_wcap_player
tests/krad_transmitter_test
tests/krad_ticker_test
tests/krad_xmms2_test
tests/krad_fps_test
tools/krad_rc/krad_rc_rx_test
tools/krad_rc/krad_rc_tx_test
tools/krad_rc/krad_rc_sdl_joy_control
tools/krad_rc/krad_rc_test
tests/krad_dockpanel_test_wayland
tests/krad_easing_test
tests/krad_webm_dash_vod_test
tests/krad_webm_extract

## Files created by QtCreator
krad_radio.*
