Source: kradradio
Section: sound
Priority: optional
Maintainer: Krad Radio <kradradio@gmail.com>
Build-Depends: debhelper (>= 9), pkg-config, libasound2-dev, libpulse-dev, libvorbis-dev, freeglut3-dev, build-essential, autoconf, git-core, libtool, libxml2-dev, libgtk-3-dev, libswscale-dev, libflac-dev, libschroedinger-dev, libavutil-dev, libjack-jackd2-dev, git, subversion, yasm, build-essential, libgl1-mesa-dev, libxcb-util0-dev, libx11-xcb-dev, libxcb1-dev, libsamplerate0-dev, libsamplerate0, libxml2, libxcb-image0-dev, libtheora0
Standards-Version: 3.9.3

Package: kradradio
Architecture: any
Depends: ${misc:Depends}
Suggests: git
Description: A Network A/V Mixer
 Krad Radio is a network A/V Router and Mixer, it blends.
